<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/index.js"></script>

    <script>
        checkAge();
        handleSession();
        sessionLog();

        const inputParseFunction = function () {
            return document.getElementsByTagName(`input`)[0].toLowerCase();
        }
    </script>
</head>
<body>
    <div class="bordered">
        <header id="header-index">
            <h1>LifeSpot - прямая трансляция с улиц</h1>
            <p>Просмотр улиц онлайн</p>

            <input type="text" oninput="
                   filterContent()
             " size=50% placeholder="поиск">


        </header>
        <ul>
            <li><a href="https://www.google.ru" target="myframe">Google</a></li>
            <li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
            <li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
        </ul>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Питер</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Нюй-Йорк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Лондон</h3>
        </div>
    </div>

</body>

<!--SIDEBAR-->
<!--FOOTER-->
</html>